body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.navbar {
    color:white;
    padding-left: 50px;
    text-decoration:darkgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    height: 70px;
}

